<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agreement_type.name %>
</p>

<%= link_to 'Edit', edit_agreement_type_path(@agreement_type) %> |
<%= link_to 'Back', agreement_types_path %>
