<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @kms_version.version %>
</p>

<%= link_to 'Edit', edit_kms_version_path(@kms_version) %> |
<%= link_to 'Back', kms_versions_path %>
